* {
    font-family: Arial, Helvetica, sans-serif;
}


.profile-bar {
    background-color: rgb(14, 26, 26);
    position: fixed;
    top: 60px;
    padding-top:20px;
    left: 25vw;
    right: 0;
    height: 40px;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    overflow: hidden;
    z-index: 100;
}


.profile-bar * {
    display: inline;

}


.profile-artist-name {
    color: white;
    align-content: center;
    font-size: larger;
    padding-left: 15px;
}


.btn-profile-artist-gallery, .btn-follow, .btn-unfollow, .btn-profile-settings{
    margin-left: 15px;
    margin-right: 10px;
    padding: 5px;
    color:#53d358;
    text-decoration: none;
    border: 1px solid;
    border-color: #53d358;    
    text-align: center;
    transition: .2s ease-in;
    background-color:  rgb(14, 26, 26);
}   


.btn-profile-artist-gallery:hover, .btn-follow:hover, .btn-unfollow:hover {
    background-color: chocolate;
    color: white;
    border-color: chocolate;
}


.total-nr {
    color: #53d358;
    padding-left: 25px;
}


.btn-unfollow {
    background-color: #53d358;
    color: rgb(14, 26, 26);
}


.profile-info {
    background-color: rgb(14, 26, 26);
    width: 25vw;
    float: left;
    position: fixed;
    top: 60px;
    left: 0vw;
    height: 100vw;
    border-right: 2px solid;
    border-color: #53d358;  
    padding-top: 25px;
    text-align: center;
    z-index: 5;
}


.profile-info .picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 25%;
    text-align: center;
    border: 2px solid;
    border-color: #53d358; 

}

.profile-info .name {
    color: #53d358;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 10px;
}

.profile-info .quote {
    font-size: medium;
    color: rgb(88, 88, 88);
    margin-top: 0;
}

.profile-info .about * {
    display: inline;
    margin-top: 5px;
    margin-bottom: 15px;
}

.profile-info .btn {
    background-color: transparent;
    border: 1px solid #53d358;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 20px;
    padding: 10px;
    display: inherit;
    transition: .5s;
    color: white;
    text-decoration: none;
}


.profile-info .btn:hover {
    background-color: #53d358;  
}


.profile-info .about .label {
    color: rgb(14, 26, 26);
    margin-bottom: 0;
    margin-top: 2vw;
    padding: 15px;
    background-color: #53d358;
    display: block;

}

.profile-info .about .text {
    color: #53d358;
    margin-top: 15px;
    display: block;

}


.white-text {
    color: white;
    padding-left: 25px;
}


.profile-artworks {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    left: 23vw;
    margin-left: 2px;
    top: 60px;
    z-index: 0;
    width: 75vw;
}


.profile-artworks .label {
    color: rgb(88, 88, 88);
    position: fixed;
    text-align: center;
}


.current-tab {
    text-decoration: none;
    padding: 15px;
    padding-bottom: 25px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    color: white;
    background-color: #53d358;
}


.btn-tab {
    text-decoration: none;
    padding: 15px;
    padding-bottom: 25px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    color: white;
    transition: .2s;
}


.btn-tab:hover {
    background-color: #53d358;
}


.breaking-line {
    border-right: 1px solid #53d358;
    padding-top: 10px;
    padding-bottom: 12px;
    width: 2px;    
}


.profile-bar .btn {
    background-color: transparent;
    border: 1px solid #53d358;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    transition: .5s;
    color: white;
    text-decoration: none;
}


.profile-bar .btn:hover {
    background-color: #53d358;
}


.profile-galleries {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    left: 23vw;
    margin-left: 2px;
    top: 60px;
    z-index: 0;
    width: 75vw;
}


.gallery-card {
    background-color: rgb(238, 238, 238);
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}

.gallery-card .gallery-art {
    width: 70px;
    height: 70px;
    border-radius:10%;
    object-fit: cover;
}


.gallery-card-container {
    width: 150x;
    height: 230px;
    margin: 10px;
    border-radius: 10%;
    box-shadow: 0px 0px 7px rgba(15,15,15,.2);
    transition: .2s;

}

.gallery-card-container p {
    text-align: center;
}

.gallery-card-container:hover {
    box-shadow: 0px 0px 15px #53d358;
}


.gallery-plus {
    text-align: end;
    display: inline-block;
    vertical-align: super;
}   


.gallery-link {
    text-decoration: none;
    color: black;
}


