* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    margin-top: 60px;
    padding: 25px;
    padding-top: 5px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: rgb(22, 43, 43);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    overflow: hidden;
    float: left;
    z-index: 3000;
}

.navbar * {
    display: inline;

}

.navbar li {
    float: left;
    color: white;
    padding: 20px;
}

.navbar li:hover {
    color: white;
    background-color:darkslategrey;
    transition: 0.4s;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: .4s;
}
  
.topnav a.active {
    background-color: #53d358;
    color: white;
}
  
.topnav-right {
    float: right;
}

.white-text {
    color: white;
}

.color-text {
    color:#53d358;
}

.img-card {
    padding: 5px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-right: 5px;
    transition: all .2s ease-in-out;
    position: relative;
}

.img-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  z-index: 100;
   
}


.img-card:hover {
    transform: scale(1.05);
    transition: 1 ease-in;
    box-shadow: 0px 0px 30px 10px rgba(245, 168, 26, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.art-title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 8px;
    overflow-x: hidden;
}

.art-author {
    display: 'inline';
    text-align: center;
    vertical-align: top;
    margin-top: 2px;
    margin-bottom: 8px;
}


.btn-like, .btn-dislike {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    float: inline-start;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.btn-like {
    float: right;
}


.btn-like:hover, .btn-dislike:hover {
    transform: scale(1.3);
}

.likes-counter {
    color: dimgrey;
    text-align: center;
    margin-bottom: 0px;
    padding: 5px 20px;
}

.swipe-card {
    margin-top: 25px;
    padding: 5px;
    width: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.swipe-card img {
    width: 70vh;
    height: 70vh;
    object-fit: cover;
}
  

.fa-search {
    background-color: rgb(22, 43, 43);
    border: 0;
    color: white;
    font-size: large;
}

.img-link {
    text-decoration: none;
}


.btn-search {
    background-color: rgb(22, 43, 43);
    border: 0;
    padding: 19px;
}

.search-bar {
    border: 0;
    margin-left: 10px;
    padding: 12px;
    text-align: center;
    width: 25vw;
}

.search-result-cards {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.query-result {
    color: gray;
}

.img-result {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profile-card {
    display: flex;
    padding: 5px;
    transition: .3s;
    border-radius: 15px;
}


.profile-card:hover {
    background-color: #53d358;
}

.profile-card .avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #53d358;
    border-radius: 15px;
}

.profile-card .username {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
    background-color: #53d358;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.art-view {
    overflow:hidden;
}


.art-view .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85vh;
}


.art-view .img-box {
    width: 75vw;
}


.art-view .info {
    background-color: rgb(14, 26, 26);
    width: 25vw;
    position: fixed;
    height: 100%;
    top: 0px;
    margin-top: 60px;
    right: 0vw;
    border-left: 2px solid;
    border-color: #53d358;  
    padding-top: 25px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}


.art-view .info .likes .btn-like {
    background-color: transparent;
    margin-right: 25px;
}



.art-view .info .artist {
    margin: 15px;
    display: flex;
    color: #53d358;
    border-bottom: 2px solid #53d358;
}


.art-view .info .artist h2 {
    width: 25%;
    height: 45%;
}


.art-view .info .artist p {
    padding: 10px;
    height: 45%;
}

.art-view .info .artist .small-thumbnail {
    width: 15%;
    height: 45%;
    border-radius: 10px;
}


.comments {
    border-radius: 10px;
    position: relative;
    text-align: left;
    margin: 15px;
}


.comment {
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    position: relative;
    text-align: left;
    margin-top: 25px;
    padding: 15px;
}


.art-view .info .description {
    color:#53d358;
    border-top: 1px solid #53d358;
    border-bottom: 1px solid #53d358;
    margin: 15px;
    padding: 15px;
}


.art-view .info .category-list a {
    display: inline;
    color: #53d358;
    background-color: rgb(32, 32, 32);
    margin: 5px;
    padding: 5px;
    transition: .3s;
}

.art-view .info .category-list a:hover {
    background-color: #53d358;
    color: white;
}

.save-to-gallery-container {
    width: max-content;
    padding: 15px;
    position: absolute;
    top: 60px;
    right: 25vw;
    justify-content: center;
    
}

.save-to-gallery-container a {
    color: white;
    text-decoration: none;
}

.save-to-gallery-container .fa-ellipsis-v {
    font-size: xx-large;
    position: absolute;
    right: 15px;
}

.save-to-gallery-container .gallery-list {
    position: relative;
    width: 250px;
    z-index: 2;
    background-color: white;
    padding: 10px 10px 40px 0px;
    display: none;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: scroll;
}


.saved-in-gallery, .not-in-gallery{
    background-color: rgb(201, 201, 201);
    padding: 15px;
    transition: .2s;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 5px;
}

.not-in-gallery {
    background-color: rgb(150, 150, 150);
}

.not-in-gallery:hover {
    background-color: #53d358;

}

.save-to-gallery-container .gallery-list .title-label {
    font-weight: bold;
    text-align: center;
}

.profile-name {
    text-decoration: none;
    color:#53d358;
}

.make-comment .textarea {
    width: 95%;
    height: 100px;
    margin: 5%;
    box-sizing: border-box;
    border: 1px solid #53d358;
    border-radius: 4px;
    background-color: rgb(14, 26, 26);
    color: white;
}

.empty-space {
    height:120px;
}


.comment .author {
    position: relative;
    text-decoration: none;
    color: #53d358;
    transition: 1s;
    padding: 5px;
    border-radius: 5px;
}


.comment .author:hover {
    background: #53d358;
    color: white;

}

.comment .body {
    color: white;
    padding-left: 10px;
    border-bottom: 1px solid #53d358;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.comment .buttons {
    display: inline-flex;
}

.comment .buttons * {
    color: gray;
    padding: 0px 5px 0px 5px;
    margin-bottom: 5px;
    margin-top: 0;
    text-decoration: none;
    transition: .2s;
}

.comment .buttons a:hover {
    color: #53d358;
}

.comment-btn {
    background-color: rgb(14, 26, 26);
    border: 1px solid #53d358;
    transition: .2s;
    color: white;
    font-size: medium;
    padding: 10px;
}

.comment-btn:hover {
    background-color: #53d358;
}

.search-result-cards .swipe-card {
    width: 25vh;
    margin-top: 25px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all .2s ease-in-out;
}


.search-result-cards .swipe-card img {
    width: 25vh;
    height: 25vh;
    object-fit: cover;
}


.gallery-card {
    background-color: rgb(238, 238, 238);
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}

.gallery-card .gallery-art {
    width: 70px;
    height: 70px;
    border-radius:10%;
    object-fit: cover;
}


.gallery-card-container {
    width: 150x;
    height: 230px;
    margin: 10px;
    border-radius: 10%;
    box-shadow: 0px 0px 7px rgba(15,15,15,.2);
    transition: .2s;

}

.gallery-card-container p {
    text-align: center;
}

.gallery-card-container:hover {
    box-shadow: 0px 0px 15px #53d358;
}


.gallery-plus {
    text-align: end;
    display: inline-block;
    vertical-align: super;
}   


.gallery-link {
    text-decoration: none;
    color: black;
}


.profile-galleries {
    display: inline-flex;
    margin-left: 2px;
    z-index: 0;
    width: 75vw;
}


.label {
    padding-left:45%;
    margin-top: 75px;
}



.fa-heart {
    color: gray;
    font-size: x-large;
}

#liked-heart {
    color: #53d358;
}

#dislike-x {
    color: rgb(22, 43, 43);
    font-size: x-large;
}

.gallery-list .list {
    display: grid;
}