{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <p class="query-result">Found ({{ artworks|length }}) artwork(s) which contain colors similar to: <a style="color:{{ query }}; background-color: {{ query }};">___</a></p>
    {% if page %}
        {% for art in page %}
            <div class="search-result-cards">
                {% include "artworks/art-card.html" %}
            </div>
        {% endfor %}
        {% include 'pages.html' %}
    {% else %}
        <h2>No Artwork found</h2>
    {% endif %}
    

{% endblock %}