{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile-art-card.css' %}">
{% endblock %}

<div class="profile-card-container">
    <div class='save-icon'>
        <i class="fas fa-ellipsis-v"></i>
    </div>
    <div class='gallery-list'>
        <ul>
        {% block settings %}
            
        {% endblock %}
            <p class='title-label'>Save to a gallery</p>
            {% for gallery in user.galleries.all %}
                {% if art in gallery.artworks.all %}

                <p class='already-saved-gallery'>Saved in {{ gallery }}</p>
                {% else %}
                <a class='gallery' href="{% url 'galleries:add_artwork' art.id gallery.id %}">{{ gallery }}</a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'artworks:view' art.id %}"><img src="{{ art.thumbnail.url }}"></a>
    <p class='art-title'>{{ art.title }}</p>
    <p class="likes-counter">{{ art.likes.count }} Likes</p>
    {% if art.uploader.username == user.username %}
        <p class='btn-edit'>Edit</p>
    {% else %}
        {% block like %}
            {% if user in art.likes.all %}                         
                <a href="{% url 'artworks:like' art.id %}?next={% url 'users:profile' visited_user %}"><p class='btn-edit'>Unlike</p></a>
            {% else %}
                <a href="{% url 'artworks:like' art.id %}?next={% url 'users:profile' visited_user %}"><p class='btn-edit'>Like</p></a>
            {% endif %}
        {% endblock %}
    {% endif %}
</div>