<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artapp</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% if '/profile/' in request.path and '/settings/' not in request.path %}
        {% include 'profiles/profile-bar.html' %}
    {% endif %}
    {% block content %}{% endblock %}
    {% block test %}{% endblock %}
</body>
</html>