{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<nav class="navbar">
    <div class="topnav">
        <a class="active" href='/'>Home</a>
        <form method="GET" action="{% url 'search_view' %}">
          <input type='search' class='search-bar' name='search' id="id_search" placeholder="Search for Artworks..." value="{{ query }}"/>
          <button type='submit' class='btn-search'><i class='fas fa-search'></i></button>
        </form>
        <div class="topnav-right">
          <a href="/admin">Admin</a>
          <a href="{% url 'artworks:upload' %}">Upload</a>
          {% if user.is_authenticated %}
            <a href="{% url 'notifications:categories' %}">
              {% include 'notification-bell.html' %}
            </a>
            <a href="{% url 'users:profile' user.username %}">Profile</a>
            <a href="{% url 'users:logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'users:register' %}">Register</a>
            <a href="{% url 'users:login' %}">Log in</a>
          {% endif %}
        </div>
      </div> 
</nav>

