{% extends "base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notifications.css' %}">
{% endblock %}

{% block content %}

<div class='notifications-top-bar'>
    {% if seen %}
        <div class='tabs'>
            <a class='selected'>Seen</a>
            <a class='unselected' href="{% url 'notifications:categories' %}">Unseen Categorized</a>
            <a class='unselected' href="{% url 'notifications:all_unseen' %}">All unseen</a>
        </div>
    {% elif all_unseen %}
        <div class='tabs'>
            <a class='unselected' href="{% url 'notifications:seen' %}">Seen</a>
            <a class='unselected' href="{% url 'notifications:categories' %}">Unseen Categorized</a>
            <a class='selected'>All unseen</a>
        </div>
    {% else %}
        <div class='tabs'>
            <a class='unselected' href="{% url 'notifications:seen' %}">Seen</a>
            <a class='selected'>Unseen Categorized</a>
            <a class='unselected' href="{% url 'notifications:all_unseen' %}">All unseen</a>
        </div>
    {% endif %}
</div>

<ul class='notification-list'> 
    {% if seen %}
        <p class='title-text'>Seen Notifications</p>
    {% else %}
        <p class='title-text'>Unseen Notifications</p>
        <a class='btn-all' href="{% url 'notifications:mark_as_seen' seen_argument %}?filter_by={{ mark_all }}&next={% url 'notifications:categories' %}">Mark All as Seen</a>
    {% endif %}

    {% block notification-cards %}
    {% endblock %}
</ul>
{% endblock %}